
.card {
    text-decoration: none;
  }
  
  .card-content {
    background: white;
    border-radius: 8px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: left;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1.5s;
  }
  
  .card-content:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .card-image {
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .card-content h2 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #13623c;
  }
  
  .card-content p {
    font-size: 1rem;
    margin: 10px 0;
    color: black;
  }
  
  .card-content a {
    color: #23ae6b;
    text-decoration: none;
    text-align: center;
    font-size: large;
    font-weight: bold;
  }
  