/* Explore.css */

.Explore {
  text-align: center;
  color: #13623c;
  padding: 20px;
}

.card-container {
  display: flex;
  justify-content: space-around; /* Adjust alignment as needed */
  flex-wrap: wrap;
  margin-top: 20px;
}
