/* Hero Section */
.background-image {
    background-image: url('../assets/images/school.jpg');
    filter: brightness(50%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh; /* Height of imaage */
    width: 100%;
    position: relative;
}

.Content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: larger;
}

/* Search Section */
.Search {
    margin-top: 20px; /* For spacing */
    text-align: center;  
}

.Search input {
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    width: 350px;
    margin-right: 10px;
    background-color: white;
    font-size: 16px; 
}

.Search button {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #13623c;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.About, .WhyUs, .CallToAction {
     margin-top: 30px;
      padding: 20px; /* To look neat */
       
       border-radius: 10px; 
       text-align: center;  
    } 
       .About h2, .WhyUs h2, .CallToAction h2 { 
        font-size: 2em;
         margin-bottom: 10px; 
         color: #13623c;
         
        }
          .About p, .WhyUs p, .CallToAction p 
          {
             font-size: 1.2em;
              line-height: 1.5; 
            } 
            
                 .CallToAction p 
                 {
                     font-size: 1.2em;
                     }
                       @media (max-width: 768px)
                       {
                         .Intro h1 
                         {
                             font-size: 2.5em;
                             } 
                             .Intro h4
                              {
                                 font-size: 1.2em;
                                 } 
                                 .About h2,
                                  .WhyUs h2 
                                  .CallToAction h2
                                {
                                     font-size: 1.5em;
                                     }
                                      .About p,
                                       .WhyUs p,
                                        .CallToAction p
                                         {
                                             font-size: 1em;
                                             }
                                              
                                                 }