* {
  font-family: "Libre Franklin", sans-serif;
}

.navbar {
  width: 100%;
  height: 2.5cm;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
}

.navbar p {
  text-indent: 10px;
  font-weight: 400;
  font-size: x-large;
  color: #070607;
}

.navbar span {
  color: #13623c;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: medium;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  color: #222;
  font-weight: 400;
  transition: color 0.5s, transform 0.5s;
}

.navbar ul li .active {
  font-weight: bold;
  color: #13623c; /* Change color for active link */
  border-bottom: 2px solid #13623c; /* Add bottom border to highlight active link */
}

/* Dropdown menu */
.navbar ul li.dropdown {
  position: relative;
}

.navbar ul li .dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 160px;
  z-index: 1000;
}

.navbar ul li.dropdown.open .dropdown-content {
  display: block;
}

.navbar ul li .dropdown-content a {
  color: #222;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.navbar ul li.dropdown:hover .dropdown-content {
  display: block;
}


.logout-btn {
  background-color: transparent;
  border: none;
  color: #222;
  font-weight: 400;
  cursor: pointer;
  transition: color 0.5s;
  font-size: large;
  border-radius: 18px;
  padding: 7px;
}

.logout-btn:hover {
  background-color: #13623c;
  color: #070607; 
}
