body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.Signup {
    display: flex;
    height: calc(100vh - 60px); /* Adjust the height minus the navbar */
    align-items: center;
    justify-content: center;
}

.Signup-section {
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.login-section {
    flex: 1;
    background-color: #13623c; /* Dark green background for the login section */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: #fff;
    text-align: center;
}

.signup-box {
    width: 100%;
    max-width: 440px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.signup-header {
    text-align: center;
    margin-bottom: 20px;
}

.signup-header header {
    color: #070607;
    font-weight: 600;
    font-size: large;
}

.input-box .input-field {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 17px; 
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: box-shadow 0.3s ease;
}

.input-box .input-field:focus {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

::placeholder {
    font-weight: 500;
    color: #aaa;
}

.forgot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

section {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}

#check {
    margin-right: 10px;
    accent-color: #070607;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section a {
    color: #555;
}

.input-submit {
    position: relative;
}

.submit-btn {
    width: 100%;
    height: 40px;
    background-color: #222;
    color: #fff;
    border: none;
    border-radius: 11px;
    transition: background-color 0.3s, transform 0.3s;
    font-weight: 500;
    font-size: 15px;
}

.submit-btn:hover {
    background-color: #070607;
    font-weight: 600;
    transform: scale(1.05);
}

.sign-up {
    font-size: 15px;
    margin-top: 20px;
}

.create {
    padding: 10px;
    height: 40px;
    background-color: #fff;
    color: #13623c;
    border: none;
    border-radius: 11px;
    transition: background-color 0.3s, transform 0.3s;
    font-weight: 500;
    font-size: 15px;
}

.sign-up-section p {
    margin-bottom: 20px;
}
